# dependencies
node_modules/

# dotenv

# logs
*.log
logs/
npm-debug.log*

# system
.DS_Store
Thumbs.db

# package-lock (optional if using yarn)
package-lock.json
config.bat
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
